@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,300;0,400;0,600;1,300;1,400;1,500&display=swap');
/*variables de fuentes*/
$big-title-font: bold 24px 'Roboto Mono', monospace;
$small-title-font: bold 20px 'Roboto Mono', monospace;
$header-text-font: bold 16px 'Roboto Mono', monospace;
$normal-text-font: normal 16px 'Roboto Mono', monospace;
$button-text-font: normal 12px 'Roboto Mono', monospace;

/*Variables de colores*/
$darkblue: #1B264F;
$marianblue: #274690;
$trueblue:#576CA8;
$YMCAblue:#444C68;
$white: #ffffff;
$black: #020106;

/*mixin de size*/
@mixin sizes($width,$height){
    width: $width;
    height: $height;

}
/*Headers*/
h1{
    font: $big-title-font;
    color: $YMCAblue;
}
h2{
    font: $small-title-font;
    color: $YMCAblue;
}

/*Párrafos*/
p{
    font: $normal-text-font;
}
/*Botones*/
form button[type="submit"] {
    padding: 8px;
    border: none;
    border-radius: 4px;
    margin-top: 10px;
    font: $normal-text-font;
    background-color: $marianblue;
    color: $white;
    @include sizes(125px, 40px);
  }
/*Header*/
header{
    background-color: $darkblue;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    font: $header-text-font;
}

.logo img {
    max-width: 60px; /* Ajusta el ancho máximo del logo según tus necesidades */
    height: auto; /* Esto permite que la altura se ajuste proporcionalmente al ancho */
    margin-right: 10px; /* Espacio entre el logo y el texto */
    &:hover{
        animation-name: movimientoLogo;
        animation-duration: 1s;
        animation-iteration-count: infinite;
        animation-timing-function: linear;
        animation-delay: 1s;
    }

}

nav {
    ul{
        list-style: none;
        margin: 0;
        padding: 0;
        display: flex;
        justify-content: center;

        li {
            margin-right: 20px;
      
            &:last-child {
              margin-right: 0;
            }
          }
    }
    a {
        text-decoration: none;
        color: $white;
    }

}

.redes-sociales{
    display: flex;
    align-items: center;
    
    a{
        margin-left: 10px;
    }

    img{
        @include sizes(30px, 30px);
    }

}

.navbar-toggler {
    background-color: $trueblue !important; /* Color por defecto del botón */
  }

main {
    padding:20px;
}

/* Estilo para dispositivos móviles */
@media (max-width: 767px) {
    header {
      flex-direction: column; /* Cambia la dirección del contenedor a columna */
      text-align: center;
    }
  
    .logo {
      margin-bottom: 10px; /* Añade espacio entre el logo y la barra de navegación en dispositivos móviles */
    }
  
    nav ul {
      flex-direction: column; /* Muestra los elementos de navegación en una columna */
      align-items: center;
    }
  
    .redes-sociales {
      margin-top: 10px; /* Añade espacio entre la barra de navegación y las redes sociales en dispositivos móviles */
    }
  
    main {
      padding: 10px; /* Ajusta el espacio alrededor del contenido principal en dispositivos móviles */
    }
  
    .principal img {
      height: auto; /* Ajusta la altura de la imagen automáticamente en dispositivos móviles */
    }
  
    .recientes-container {
      display: block; /* Cambia el contenedor de recientes a bloque para dispositivos móviles */
    }
  
    .carousel-inner .row {
      flex-wrap: wrap; /* Permite que las miniaturas del carrusel se envuelvan en dispositivos móviles */
    }
  
    .carousel-inner .col-lg-4 {
      flex: 0 0 100%; /* Hace que las miniaturas del carrusel ocupen el 100% del ancho en dispositivos móviles */
      margin: 10px 0; /* Añade espacio entre las miniaturas del carrusel en dispositivos móviles */
    }
  }


/*Home*/
.principal{
    text-align: center;
    img{
        @include sizes(100%,400px );
        max-width: 800px;
    }
}

.recientes-container{
    @include sizes(100%,auto);
    display: flex;
    align-items: center;
    justify-content: center;
    
}

.carousel-inner {
    position: relative; /* Asegura que el contenedor del carrusel tenga una posición relativa */
    .row{
        display: flex;
        flex-wrap: nowrap; /* Evita que los elementos se superpongan */
        overflow: hidden; /* Oculta los elementos que no caben en el carrusel */
    }
    .col-lg-4{
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 10px;

        img{
            max-width: 90%; /* Ajusta el ancho máximo de las imágenes */
            height: 80%;
        }
    }
}

.carousel-item{
    display: flex;
    justify-content: center;

    img{
        @include sizes(100%,auto );
        display: block;
    }
}

/*Sobre Mí*/
.foto-parrafo {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    padding: 20px;

    p {
        flex: 2; /* Ajusta el ancho del párrafo utilizando flex */
        align-items: top;
    }
}

.contenedor-img {
    flex: 1;
    margin-right: 20px; /* Margen derecho para separar la imagen del párrafo */
}

.contenedor-img img {
    @include sizes(100%, auto); /* Hace que la imagen ocupe el 100% del ancho del contenedor */
    max-width: 400px; /* Limita el ancho máximo de la imagen para que no sea demasiado grande en pantallas grandes */
    display: block; /* Evita el espacio adicional debajo de la imagen */
    margin: 0 auto; /* Centra la imagen dentro del contenedor */
}

.redes-sociales{
    ul{
        list-style: none;
        padding: 0;
    }
    li{
        display: inline-block; /* Los elementos de lista se mostrarán en línea */
        margin-right: 10px; /* Espacio entre los íconos (puedes ajustarlo según tu preferencia) */
    }
}

/*Formularios*/
form{

    .custom-width {
        width: 80%; /* Cambia el ancho según tus preferencias */
        margin-left: auto; /* Alinea al centro si es necesario */
        margin-right: auto; /* Alinea al centro si es necesario */
    }

    .custom-btn-width {
        width: 50%; /* Cambia el ancho según tus preferencias */
        margin-left: auto; /* Alinea al centro si es necesario */
        margin-right: auto; /* Alinea al centro si es necesario */
    }
    label, 
    .form-control,
    .checkbox input[type="checkbox"] {
        font: $normal-text-font;
}
}

/*Footer*/
footer {
    background-color: $darkblue;
    @include sizes(100%,120px );
    bottom: 0;
    color: $white;
    padding: 10px;
    text-align: left;
}

.notificaciones {
    max-width: 600px;
    display:block;
    justify-content: left; /* Alinea los elementos a la izquierda */
    align-items: center; /* Alinea verticalmente los elementos */
    h3{
        font: $header-text-font;
        margin-bottom: 20px;
        margin-right: 10px;
    }
    form {
        display: flex;
        align-items:  center;
    }
    input[type="email"],
  button {
    @extend button;
  }
  input[type="email"]{
    background-color: $white;
    margin-right: 10px;
    margin-top: 10px;
    @include sizes(250px, 40px);
  }
}

@keyframes movimientoLogo {
    0%{
        transform: translateY(0px);
    }
    25%{
        transform: translateY(-20px);
    }
    50%{
        transform: translateY(0px);
    }
    75%{
        transform: translateY(20px);
    }
    100%{
        transform: translateY(0px);
    }
}