@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,300;0,400;0,600;1,300;1,400;1,500&display=swap");
/*variables de fuentes*/
/*Variables de colores*/
/*mixin de size*/
/*Headers*/
h2 {
  font: bold 24px "Roboto Mono", monospace;
  color: #444C68;
}

/*Párrafos*/
p {
  font: normal 16px "Roboto Mono", monospace;
}

/*Botones*/
form button[type=submit], form .notificaciones input[type=submit][type=email], .notificaciones form input[type=submit][type=email],
form .notificaciones button[type=submit],
.notificaciones form button[type=submit] {
  padding: 8px;
  border: none;
  border-radius: 4px;
  margin-top: 10px;
  font: normal 16px "Roboto Mono", monospace;
  background-color: #274690;
  color: #ffffff;
  width: 125px;
  height: 40px;
}

/*Header*/
header {
  background-color: #1B264F;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  font: bold 16px "Roboto Mono", monospace;
}

.logo img {
  max-width: 60px; /* Ajusta el ancho máximo del logo según tus necesidades */
  height: auto; /* Esto permite que la altura se ajuste proporcionalmente al ancho */
  margin-right: 10px; /* Espacio entre el logo y el texto */
}
.logo img:hover {
  animation-name: movimientoLogo;
  animation-duration: 1s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  animation-delay: 1s;
}

nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
}
nav ul li {
  margin-right: 20px;
}
nav ul li:last-child {
  margin-right: 0;
}
nav a {
  text-decoration: none;
  color: #ffffff;
}

.redes-sociales {
  display: flex;
  align-items: center;
}
.redes-sociales a {
  margin-left: 10px;
}
.redes-sociales img {
  width: 30px;
  height: 30px;
}

main {
  padding: 20px;
}

/*Home*/
.principal {
  text-align: center;
}
.principal img {
  width: 100%;
  height: 400px;
  max-width: 800px;
}

.recientes-container {
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

.carousel-inner {
  position: relative; /* Asegura que el contenedor del carrusel tenga una posición relativa */
}
.carousel-inner .row {
  display: flex;
  flex-wrap: nowrap; /* Evita que los elementos se superpongan */
  overflow: hidden; /* Oculta los elementos que no caben en el carrusel */
}
.carousel-inner .col-lg-4 {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 10px;
}
.carousel-inner .col-lg-4 img {
  max-width: 90%; /* Ajusta el ancho máximo de las imágenes */
  height: 80%;
}

.carousel-item {
  display: flex;
  justify-content: center;
}
.carousel-item img {
  width: 100%;
  height: auto;
  display: block;
}

/*Sobre Mí*/
.foto-parrafo {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  padding: 20px;
}
.foto-parrafo p {
  flex: 2; /* Ajusta el ancho del párrafo utilizando flex */
  align-items: top;
}

.contenedor-img {
  flex: 1;
  margin-right: 20px; /* Margen derecho para separar la imagen del párrafo */
}
.contenedor-img img {
  width: 90%;
  height: auto;
}

.redes-sociales ul {
  list-style: none;
  padding: 0;
}
.redes-sociales li {
  display: inline-block; /* Los elementos de lista se mostrarán en línea */
  margin-right: 10px; /* Espacio entre los íconos (puedes ajustarlo según tu preferencia) */
}

/*Formularios*/
form .custom-width {
  width: 80%; /* Cambia el ancho según tus preferencias */
  margin-left: auto; /* Alinea al centro si es necesario */
  margin-right: auto; /* Alinea al centro si es necesario */
}
form .custom-btn-width {
  width: 50%; /* Cambia el ancho según tus preferencias */
  margin-left: auto; /* Alinea al centro si es necesario */
  margin-right: auto; /* Alinea al centro si es necesario */
}
form label,
form .form-control,
form .checkbox input[type=checkbox] {
  font: normal 16px "Roboto Mono", monospace;
}

/*Footer*/
footer {
  width: 100%;
  height: 120px;
  bottom: 0;
  background-color: #1B264F;
  color: #ffffff;
  padding: 10px;
  text-align: left;
}

.notificaciones {
  max-width: 600px;
  display: block;
  justify-content: left; /* Alinea los elementos a la izquierda */
  align-items: center; /* Alinea verticalmente los elementos */
}
.notificaciones h3 {
  font: bold 16px "Roboto Mono", monospace;
  margin-bottom: 20px;
  margin-right: 10px;
}
.notificaciones form {
  display: flex;
  align-items: center;
}
.notificaciones input[type=email] {
  background-color: #ffffff;
  margin-right: 10px;
  margin-top: 10px;
  width: 250px;
  height: 40px;
}

@keyframes movimientoLogo {
  0% {
    transform: translateY(0px);
  }
  25% {
    transform: translateY(-20px);
  }
  50% {
    transform: translateY(0px);
  }
  75% {
    transform: translateY(20px);
  }
  100% {
    transform: translateY(0px);
  }
}

/*# sourceMappingURL=style.css.map */
